:global .global {
    font-family: sans-serif;
}

:global #cool-id {
    background: orange;
}

.unused {
    color: red;
}

.used {
    color: green;
}

.used:hover {
    color: blue;
}

.unused > .used {
    background: black;
}

.used > .unused {
    background: white;
}

.someClass {
    outline: 1px solid black;
}

.someClassWithASharedPrefix {
    outline: 1px solid white;
}
